@media (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .visible-xs {
    display: none !important;
  }
}

body {
  --default-padding: 0.5em;
  --default-border: solid black 1px;

  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.page-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.7em;
  background-color: #94949c;
}

.header {
  padding: var(--default-padding);
  background-color: #f7de5a;
  border: var(--default-border);
}

.page-title {
  font-size: 28px;
}

.page-contents {
  flex: 1;
  display: flex;
  border-left: var(--default-border);
  border-right: var(--default-border);
  border-bottom: var(--default-border);
}

.sidebar {
  flex: 1;
  min-width: 8em;
  padding: var(--default-padding);
  background-color: #838470;
  border-right: var(--default-border);
}

.main-content {
  flex: 3;
  gap: calc(var(--default-padding) * 2);
  padding: calc(var(--default-padding) * 2);
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

@media (max-width: 456px) {
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.footer {
  flex: 0 0 1.7em;
  padding-top: var(--default-padding);
}

.navbar {
  display: flex;
  border-left: var(--default-border);
  border-right: var(--default-border);
  border-bottom: var(--default-border);
}

.navbar .btn {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.2em;

  background-color: #cec68c;
  color: #333;
  border-color: #ccc;
  border: 1px solid transparent;
  text-decoration: none;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.navbar .btn[aria-disabled="true"] {
  color: #ccc;
}

.navbar .btn:nth-child(2) {
  border-left: 1px solid rgb(132, 132, 132);
  border-right: 1px solid rgb(132, 132, 132);
}

.btn[aria-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail img {
  border: var(--default-border);
}

.thumbnail a {
  text-decoration: none;
  color: black;
}

.thumbnail a:nth-of-type(2) {
  margin-top: 0.3em;
}
