@media (max-width: 767px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .visible-xs {
    display: none !important;
  }
}

.app-container[data-year="2021"] {
  --body-color: #94949c;
  --header-color: #f7de5a;
  --sidebar-color: #838470;
  --nav-color: #cec68c;
}

.app-container {
  --default-padding: 0.5em;
  --default-border: solid black 1px;

  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: 16px;

  min-height: 100%;
  background-color: var(--body-color);
  padding: 0.7em;
}

.page-container {
  border: var(--default-border);
}

.header {
  padding: var(--default-padding);
  padding-left: calc(var(--default-padding) * 2);
  background-color: var(--header-color);
}

.page-title {
  font-size: 28px;
}

.page-contents {
  flex: 1;

  display: grid; /* display my children in a grid */
  grid-template-columns: auto auto; /* two columns: sidebar & main content*/
  background-color: black; /* border color between sidebar & main content */
  gap: 1px; /* border width between sidebar & main content */
}

.sidebar {
  min-width: 8em;
  padding: calc(var(--default-padding) * 4) calc(var(--default-padding) * 2);
  background-color: var(--sidebar-color);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-padding) * 2);

  padding: calc(var(--default-padding) * 2);
  background-color: white;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--default-padding) * 2);
}

@media (max-width: 456px) {
  .thumbnails {
    justify-content: center;
  }
}

.months {
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-padding) * 2);
}

section.month {
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-padding) * 2);
}

section.month > h3 {
  background-color: var(--header-color);
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.1;
  padding: 0.3em 0.4em;
  width: 100%;
}

footer {
  flex: 0 0 1.7em;
  padding-top: var(--default-padding);
}

.navbar {
  display: flex;
  /* white so that disabled buttons with opacity show a lighter color */
  background-color: white;
}

.navbar .btn {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.2em;

  background-color: var(--nav-color);
  color: #333;
  border: 1px solid #ccc;
  text-decoration: none;
  padding: 6px 12px;
}

.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
  color: #ccc;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail img {
  border: var(--default-border);
}

.thumbnail a {
  text-decoration: none;
  color: black;
}

.thumbnail a:nth-of-type(2) {
  margin-top: 0.3em;
}
